*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{

}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar i{
    padding: 8px 8px 8px 32px;
    display: block;
    transition: 0.3s;
}

.sidebar a{
    padding: 10px 0px 0px 8px;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.sidebar a:hover {
    color: darkgray;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.closebar{
    display: block;
    width: 50px;
    height: 100vh;
    font-size: 30px;
    text-align: center;
    padding: 15px;
    transition: 0.5s;
}

.closebar i {
    display: block;
    padding: 10px;
    cursor: pointer;
}

.openbtn {
    cursor: pointer;
    font-size: 30px;
    background-color: transparent;
    padding: 10px 0px 20px 0px;
    height: 50px;
    width: 50px;

}

.openbtn:hover {
    background-color: #444;
}



#main {
    transition: margin-left .5s;
    padding: 16px;
}